{% extends "base.html" %}
{% block title %} Create Order {% endblock %}
{% block content %}
<form action="{% url 'manager:orders' %}" method="post">
    {% csrf_token %}
    {% if formset.non_form_errors %}
    <div>Errors:</div>
    {% for error in formset.non_form_errors %}
        <div class="alert alert-warning" role="alert">{{error}}</div>
    {% endfor %}
    {% else %}
    {% endif %}
    <!--    {{formset.errors}}-->
    <!--    {{formset.non_form_errors}}-->
    {% for field in form %}
    <div class="form-group">
        <label>{{field.label}}</label>
        {{field}}
    </div>
    {% endfor %}
    {{ formset.management_form }}
    <input type="hidden" value="false" name="additems" id="additems">
    <button class="btn btn-primary" id="additemsbutton">Add item</button>
    <h2> Items </h2>
    {% for form in formset %}
    <div class="form-group">
        {{form}}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary mb-2">Confirm</button>
</form>
<script>
$(document).ready(function() {
        $("#additemsbutton").on('click',function(event) {
         $("#additems").val("true");
       });
       $('.js-example-basic-single').select2();
});

</script>
{% endblock %}
