{% extends "base.html" %}
{% block title %} Create Order {% endblock %}
{% block content %}
<form action="{% url 'manager:orders' %}" method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
        <label>{{field.label}}</label>
        {{field}}
        {% if field.errors %}
        <div class="alert alert-warning" role="alert">{{field.errors.as_text}}</div>
        {% endif %}
    </div>
    {% endfor %}
    {{ formset.management_form }}
    <input type="hidden" value="false" name="additems" id="additems">
    <input type="hidden" value="false" name="removeitems" id="removeitems">
    <button class="btn btn-primary" id="additemsbutton">Add item</button>
    <button class="btn btn-primary" id="removeitemsbutton">Remove item</button>
    <h2> Items </h2>
    <table class="table table-striped">
        <tbody>
        {% for form in formset %}
        <tr>
            {% for field in form %}
            {% if not field.errors %}
            {% if field.label == 'item' %}
            <td>{{ field }}</td>
            {% else %}
            <td>{{field.label}}</td>
            <td>{{ field }}</td>
            {% endif %}
            {% else %}
            <td class="alert alert-warning" role="alert">{{ field.label }}</td>
            <td class="alert alert-warning" role="alert">{{ field }} {{field.errors.as_text}}</td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if formset.non_form_errors %}
    <div class="alert alert-warning" role="alert">{{ formset.non_form_errors.as_text}}</div>
    {% endif %}

    <button type="submit" class="btn btn-primary mb-2">Confirm</button>
</form>
<script>
$(document).ready(function() {
        $("#additemsbutton").on('click',function(event) {
         $("#additems").val("true");
         $("#removeitems").val("false");
       });
           $("#removeitemsbutton").on('click',function(event) {
           $("#additems").val("false");
         $("#removeitems").val("true");
       });
       $('.js-example-basic-single').select2();
});



</script>
{% endblock %}
