{% extends "base.html" %}
{% block title%} Orders {%endblock%}
{% block content %}
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th>#</th>
            <th>Buyer</th>
            <th>Time</th>
            <th>Total/Profit/Cost</th>
            <th>Status</th>
            <th>Desc</th>
            <th>Operations</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
        <tr>
            <td>{{order.id}}</td>
            <td>{{order.buyer}}</td>
            <td>{{order.created_time}}</td>
            <td>{{order.total}}/{{order.profit}}/{{order.cost}}</td>
            <td>{{order.get_status_display}}</td>
            <td>{{order.description}}</td>
            <!--            <td><a href="{% url 'manager:order_detail' order.id %}">{{order.description}}</a></td>-->
            <td>
                <a class="btn btn-secondary btn-sm" href="{% url 'manager:order_detail' order.id %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                         class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </a>
            </td>

        </tr>
        {% endfor %}
        </tbody>

    </table>
    <a type="button" class="btn btn-primary btn-lg btn-block" href="{% url 'manager:create_order' %}">New Order</a>
</div>


{% endblock %}
